<?xml version="1.0"?>
<robot xmlns:xacro="http://ros.org/wiki/xacro">

  <xacro:property name="friction1" value="100" />
  <xacro:property name="friction2" value="50" />
  <xacro:property name="kp" value="1e+8" />
  <xacro:property name="kd" value="1.0" />
  <xacro:property name="max_vel" value="0.1" />
  <xacro:property name="min_depth" value="0.00001" />

</robot>
